
@{
    Layout = "_DashboardLayout";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <p class="h3">Our Customers <i class="fas fa-users ml-2"></i></p>
                <div class="row my-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/customers.svg" alt="Users SVG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div my-4>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="bg-white p-5 rounded shadow">
                    <form action="" method="post">
                        <!-- Author Input -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-book text-muted"></i>
                                </span>
                            </div>
                            <select required id="customer" name="customer" class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="">Please choose a customer</option>
                                @foreach (var customer in Model)
                                {
                                    <option value="@customer.Id">@customer.Customer_Name</option>
                                    
                                }

                            </select>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary">View Customer<i class="fas fa-eye ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-lg-11 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="example" style="width:150%" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Member Type</th>
                                        <th>Last Purchased</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Customer_Name</td>
                                        <td>@item.Customer_Email</td>
                                        <td>@item.Customer_Address</td>
                                        <td>@item.Customer_Contact</td>
                                        <td>@item.Member_Type</td>
                                        <td>@item.Last_Purchased_Date</td>
                                        <td>
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <a href="@Url.ActionLink("Profile", "Customer", new { item.Id} )" class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View Orders History"><i class="fa fa-table"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="@Url.ActionLink("UpdateCustomers", "Admin", new { item.Id})" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("DeleteCustomers","Admin",new { item.Id} )" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
