
@{
    Layout = "_DashboardLayout";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <div class="row my-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/sales.svg" alt="Sales SVG" class="img-fluid" />
                    </div>
                </div>
                <p class="h3">Sales History</p>
            </div>
        </div>
    </div>

    <hr class="my-5" />

    <div my-4>

        <div class="row my-4">
            <div class="col-lg-10 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="my-3">
                            <a href="@Url.ActionLink("MakeSales", "Sales")" class="btn btn-primary">Insert New Sale <i class="fas fa-cart-plus ml-2"></i></a>
                        </div>
                        <div class="table-responsive">
                            <table style="width:100%" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Sale ID</th>
                                        <th scope="col">Sale Date</th>
                                        <th scope="col">Sale Total</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        <th>@item.Id</th>
                                        <td>@item.Sale_Date</td>
                                        <td>@item.Sale_Total</td>
                                        <td>@item.Customer_Id</td>
                                        <td>
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <a href="@Url.ActionLink("SaleItems", "Sales" ,new { item.Id})" class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View Sale Items"><i class="fa fa-table"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    }
                                    

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
