
@{
    Layout = "_DashboardLayout";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <p class="h3">Sale Items List</p>
                <div class="row my-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/sale_items.svg" alt="Sale Items SVG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5" />

    <div my-4>
        <div class="row my-4">
            <div class="col-lg-9 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="my-3">
                            <a href="@Url.ActionLink("AddSaleItem", "Sales")" class="btn btn-primary">Add Sale Item <i class="fas fa-plus-square ml-2"></i></a>
                        </div>
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Book Title</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    { 
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.Book_Id</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Total</td>
                                        <td>
                                            <ul>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    }
                                    

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="@Url.ActionLink("GenerateBill", "Sales")" class="btn btn-primary">Generate Bill for this Sale <i class="fas fa-file-invoice ml-2"></i></a>
        </div>
    </div>
</div>
