
@{
    Layout = "_DashboardLayout";
}

@section manualCSS{
<style>
    .bootstrap-select .bs-ok-default::after {
        width: 0.3em;
        height: 0.6em;
        border-width: 0 0.1em 0.1em 0;
        transform: rotate(45deg) translateY(0.5rem);
    }

    .btn.dropdown-toggle:focus {
        outline: none !important;
    }
</style>
 }

@if (ViewBag.issuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>New book added successfully!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (ViewBag.isdelete)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Book Deleted!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <div class="row mb-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/inventory.svg" alt="Book SVG" class="img-fluid" />
                    </div>
                </div>
                <p class="h3">Book Inventory</p>
            </div>
        </div>
    </div>

    <div my-4>
        @*Handle Requirements 5 and 6 (View book stock and details)*@
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="bg-white p-5 rounded shadow">
                    <form action="/Books/BookInventorySearch" method="post">
                        <!-- Book Input -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-book text-muted"></i>
                                </span>
                            </div>
                            <select id="book" name="book_id" class="form-control custom-select bg-white border-left-0 border-md" >
                                <option value="">Choose a Book</option>
                                @foreach (var book in ViewBag.bookList)
                                {
                                    <option value="@book.Id"> @book.Book_name</option>
                                }
                            </select>
                        </div>

                        <div class="card-columns">
                            <div class="text-center">
                                <button name="button" value="availability" class="btn btn-primary">View Item Avilability <i class="fas fa-check ml-2"></i></button>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" name="button" value="stock">View Stock Amount <i class="fas fa-check ml-2"></i></button>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" name="button" value="sortQuantity">Sort By Quantity <i class="fas fa-check ml-2"></i></button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-lg-11 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">

                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <table class="table m-0" style="width:180%" >
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author ID</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Category ID</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Quantity</th>
                                        <th scope="col">Stocked Date</th>
                                        <th scope="col">Sales Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Book_name</td>
                                        <td>@item.Author_Id</td>
                                        <td>@item.Description</td>
                                        <td>@item.Category_Id</td>
                                        <td>@item.Price</td>
                                        <td>@item.Stock_Quantity</td>
                                        <td>@item.Stocked_Date</td>
                                        <td>@item.Sales_Date</td>
                                        <th>
                                            <a href="@Url.ActionLink("UpdateBooks", "Books", new { item.Id})" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                                        </th>
                                        <th>
                                            <a href="@Url.Action("DeleteBooksInventory","Books",new { item.Id} )" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                        </th>
                                    </tr>
}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>