@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ Layout = "_DashboardLayout"; }

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <p class="h3">My Selected Book</p>
                <div class="row my-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/long_stocked.svg" alt="Out of Stock SVG" class="img-fluid" />
                    </div>
                </div>
                <p><code>My Selected Book Details.</code></p>
            </div>
        </div>
    </div>

    <div my-4>
        <div class="row py-5">
            <div class="col-lg-11 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="example" style="width:100%" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        @if (ViewBag.buttonvalue == "stock")
                                        {
                                            <th scope="col">Author</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Stocked Date</th>
                                            <th scope="col">Stock Quantity</th>
                                        }
                                        else if (ViewBag.buttonvalue == "availability")
                                        {
                                            <th scope="col">Availability</th>
                                        }
                                        else if (ViewBag.buttonvalue == "sortQuantity")
                                        {
                                            <th scope="col">StockQuantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stocked Date</th>
                                            <th scope="col">Sales Date</th>
                                        }
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in ViewBag.bookList)
                                    {
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>@book.Book_name</td>
                                        @if (ViewBag.buttonvalue == "stock")
                                        {
                                            <td>@book.Author_Id</td>
                                            <td>@book.Category_Id</td>
                                            <td>@book.Stocked_Date</td>
                                            <td>@book.Stock_Quantity</td>
                                        }
                                        else if (ViewBag.buttonvalue == "availability")
                                        {
                                            @if (book.Stock_Quantity == 0)
                                            {
                                                <td>Not Available</td>
                                            }
                                            else
                                            {
                                                <td>Available</td>
                                            }
                                        }
                                        else if (ViewBag.buttonvalue == "sortQuantity")
                                        {
                                            <td>@book.Stock_Quantity</td>
                                            <td>@book.Price</td>
                                            <td>@book.Stocked_Date</td>
                                            <td>@book.Sales_Date</td>
                                        }

                                        <th>
                                            @*@Url.Action("DeleteBooksInventory", "Books", new { item.Id })*@
                                            <a href="#" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">

                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </th>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="text-center">
            <button class="btn btn-primary px-4">Remove all Books from Stock <i class="fas fa-minus-square ml-2"></i></button>
        </div>*@

    </div>
</div>
